/*HTML-35 CSS*/
th, td {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
}

/*CSS 4*/
h1 {
    color: maroon;
}

/*CSS 5*/
.title {
    color: teal;
}
 
/*CSS 6*/
.uppercase {
    text-transform: uppercase;
}

/*CSS 7*/
#article-title{
    font-family: cursive;
    text-transform: capitalize;
}

/*CSS 8*/
#article-title{
    font-family: cursive;
    text-transform: capitalize;
}

/*CSS 9*/
.publish-time {
    color: gray;
}

/*CSS 10*/
.cursive {
    font-family: cursive;
}
  
.capitalize {
    text-transform: capitalize;
}

 /*CSS 11*/
 h2.destination {
    font-family: cursive;
}

/*CSS 12*/
.description h5 {
    color: teal;
}

/*CSS 13*/
h5{
    color: rebeccapurple;
}

/*CSS 14*/
h5{
    color: rebeccapurple !important;
}

/*CSS 15*/
h5,
p{
  font-family: Georgia;
}

/*CSS 16*/
h1 {
    font-family: Georgia;
}

h2 {
    font-family: Georgia;
}

/*CSS 17*/
p {
    font-size: 18px;
}

/*CSS 18*/
p {
    font-weight: bold;
}

/*CSS 19*/
h1 {
    text-align: center;
}

/*CSS 20*/
.caption {
    background-color: white;
}

/*CSS 21*/
.caption {
    opacity: 0.75;
}

/*CSS 22*/
.image {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/soccer.jpeg");
}

/*CSS 23 Project*/
img{
    height: 150px;
}
.description{
    font-size: 20px;
}
#cook-time{
    font-weight: bold;
}
.ingredients li{
    list-style: square;
}
p,.time{
  color: gray;
}
.external-link{
  color: SeaGreen;
}
h1, h2, p, li{
  font-family: Helvetica;
}

/*CSS 24 Project*/
.header{
    background-color: CornflowerBlue;
    text-align: center;
}
.about-me{
    font-size: 20px;
    opacity: .5;
}
h1{
    color: Azure;
}
body{
    font-family: Georgia;
      background-image: url('https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}

  /*CSS 25*/
#banner {
    height: 700px;
}
#banner .content h1 {
    width: 400px;
}
.pull-quote {
    width: 350px;
}

/*CSS 26*/
#banner .content h1 {
    border: 3px solid white;
}
h2 {
    border: 1px dotted red;
}

/*CSS 27*/
#banner .content h1 {
    border-radius: 15px;
}

/*CSS 28*/

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.share a {
    padding: 14px;
}

/*CSS 29*/
h2 {
    padding: 20px 30px;
}
p {
    padding: 10px 20px;
}

/*CSS 30*/
p {
    margin-top: 60px;
}
.share a {
    margin: 10px;
}

/*CSS 31*/
h2 {
    margin: 30px 20px;
}

/*CSS 32*/

#main {
    margin: 0 auto;
}
.pull-quote {
    margin: 0 auto;
}

/*CSS 33*/
p {
    min-width: 200px;
    max-width: 800px;
    min-height: 200px;
    max-height: 300px;
} 

/*CSS 34*/
#main {
    height: 1000px;
    overflow: scroll;
}

/*CSS 35*/
body {
	margin: 0;
    padding: 0;
}

/*CSS 36*/
.donate{
    visibility: hidden;
}
/*CSS 37*/
* {
    box-sizing: border-box;
}

/*CSS 38 Project*/

nav img {
    width: 180px;
    margin: auto;
}
nav span {
    margin: 10px 0;
}
.content {
    height: 500px;
    margin: 10px auto;
    overflow: scroll;
}
.header h1 {
height: 320px;
  padding: 20px;
  margin: 0 auto;
}
.button {
    padding: 20px;
    margin: 40px auto;
    border: 1px solid blue;
}
ul.nutrition {
    padding: 20px;
}
ul.nutrition li {
    width: 200px;
    padding: 10px 20px;
    margin-bottom: 3px;
}

/*CSS 39*/
.question {
    text-align: center;
    position: static;
}

/*CSS 40*/
.question {
    position: relative;
    top: 40px;
}
/*CSS 41*/

header {
    position: absolute;
    width: 100%;
}

/*CSS 42*/
header {
    position: fixed;
}
.welcome {
    position: relative;
    top: 200px;
}

/*CSS 43*/
header {
    z-index: 10;
}

/*CSS 45*/
footer {
    height: 100px;
}

/*CSS 46*/
li {
    display: inline-block;
    width: 80px;
}
.welcome {
    top: 50px;
}
.answer {
    display: inline-block;
}

/*CSS 47*/
.answer {
    float: left;
}

/*CSS 48*/
.question {
    clear: left
}

/*CSS 49 Project*/
header {
    position: fixed;
    width: 100%;
    z-index: 10;
}
nav li {
    display: inline-block;
    width: 80px;
}
main {
    top: 80px;
}
.supporting .col {
    display: inline-block;
    width: 200px;
    height: 200px;
}

/*CSS 50*/
h1 {
    color: MidnightBlue;
}

/*CSS 51*/
.green {
    background-color: #8FBC8F;
}
  
.light {
    background-color:#A0522D;
}
  
.city {
    background-color:#8B4513;
}
  
.vienna {
    background-color: #A52A2A;
}
.italian {
    background-color: #000000;
}

/*CSS 52*/
.green {
    background-color: rgb(143, 188, 143);
}
  
.light {
    background-color: rgb(160, 82, 45);
}
  
.city {
    background-color: rgb(139, 69, 19);
}

/*CSS 53*/
.green {
    background-color: #9EB599;
}
.light {
    background-color: #683C2C;
}
.city {
    background-color: #4C352D;
}
.vienna {
    background-color: #352926;
} 
.italian {
    background-color: #141212;
}

/*CSS 54*/
body {
    background-color: hsl(240, 100%, 80%);
} 
.midground {
    background-color: hsl(225, 100%, 25%);
}
.foreground {
    background-color: hsl(325, 50%, 50%);
}

/*CSS 55*/
body {
    background-color: rgba(0, 255, 0, 0.1);
}
.midground {
    background-color: hsla(225, 100%, 25%, 0.4);
}
.foreground {
    background-color: hsla(325, 50%, 50%, 0.6);
}

/*CSS 56 Project*/
header {
    background-color: #ff8000;
}
#banner:before {
    background-color: rgba(255, 128, 0, 0.75);
}
h1 {
    color: rgba(0,0,0,0.7);
}
#color-guide h2 {
    color: #ff8000;
}
.color .swatches h4 {
    color: #9b9b9b;
}
.reds .base-color {
    color: hsl(350, 100%, 50%);
}
.reds .lightness .color-1 {
    background-color: hsl(350, 100%, 80%);
}
.reds .saturation .color-1 {
    background-color: hsl(350, 100%, 50%);
}
.reds .hue .color-1 {
    background-color: hsl(350, 100%, 50%);
}
.greens .base-color {
    color: HSL (130, 100, 50);
}
.greens .lightness .color-1 {
    background-color: hsl(103, 100%, 90%);
}
.greens .saturation .color-1 {
    background-color: hsl(130, 100%, 50%);
}
.greens .hue .color-1 {
    background-color: hsl(86, 100%, 50%);
}
.blues .base-color {
    color: HSL (220, 100, 50);
}
.blues .lightness .color-1 {
    background-color: hsl(220, 100%, 90%);
}
.blues .saturation .color-1 {
    background-color: hsl(220, 100%, 50%);
}
.blues .hue .color-1 {
    background-color: hsl(260, 100%, 50%);
}
footer:before {
    background-color: rgba(255, 128, 0, 0.75);
}
footer .button {
    background-color: #ff8000;
}

/*CSS 57*/
h1 {
    font-family: Georgia;
}
h2 {
    font-family: Georgia;
}
p {
    font-family: Helvetica;
}

/*CSS 58*/
.banner p {
    font-weight: Bold;
}

/*CSS 59*/
.header {
    font-weight: 900;
}
    

  

  



    










 
   


  

